<!DOCTYPE html>
<html>
  <head>
    <title>GSAN Online</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body ng-app="gsan" data-cadastro-url="<%= CADASTRO_URL %>">
    <div id="wrapper">
      <%= render "shared/header" %>

      <div class="row" ng-controller="MainContentController">
        <div ng-class="sidebarClasses">
          <%= render "shared/nav" %>
        </div>
        <div ng-class="mainContentClasses">
          <div ng-view></div>
        </div>
      </div>

      <footer>
        <div class="infos">
          <div class="pull-left"><h2>GSAN - Online</h2></div>
          <div class="pull-right"><%= image_tag "cidades.png" %></div>
        </div>
      </footer>
    </div>
  </body>
</html>
