<!DOCTYPE html>
<html>
<head>
  <title>GSAN Online</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="gsan" data-cadastro-url="<%= CADASTRO_URL %>">
  <%= render "shared/header" %>
    <div class="row-fluid">
      <div class="col-md-2 sidebar">
        <%= render "shared/nav" %>
      </div>
      <div class="col-md-10 main">
        <div ng-view></div>
      </div>
    </div>
</body>
</html>
